@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
* {
  box-sizing: border-box;
}

/* Position and sizing of burger button */

.bm-burger-button {
  position: fixed;
  width: 1.5em;
  height: 1.5em;
  left: 36px;
  vertical-align: middle;
  top: 1rem;
  background: 50%/100% 100% no-repeat;
  color: rgba(255,255,255,.5);

}

path.burger-line{
  stroke:rgba(255,255,255,.5);
  stroke-width: 6;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
  background: rgba(255,255,255,.5);
}

.no-border {
  border: 0;
}

a.courses {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

body {
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD",
    "Book Antiqua", Georgia, serif;
}

/* Color/shape of burger icon bars on hover*/

.bm-burger-bars-hover {
  background: #ffffff;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
  background: #33FF39;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/

.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 100%;
}

/* General sidebar styles */

.bm-menu {
  
  background-size: cover;
  background-color: #343a40!important;
  padding: 2.5em 0.1em 0;
  font-size: 1.5em;
  width: 100%;
}

.bm-menu a {
  color: #ffffff;
  font-weight: bold;
  outline: 0;
}

.bm-menu a:hover {
  text-decoration: none;
  color: #585852;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
  color: #343a40!important;
  padding: 0.8em;
  border-style: none;
}

/* Individual item */

.bm-item {
  display: inline-block;
}

/* Styling of overlay */

.bm-overlay {
  background: rgba(255, 255, 0, 0.3);
}

html,
body {
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua,
    Georgia, serif;
  margin: 0;
  height: 100%;
  width: 100%;
  
}

.App {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

button {
  font: inherit;
  background: #ff2058;
  padding: 0.5rem 2rem;
  color: white;
  border: 1px solid #ff2058;
  margin: 0.5rem 0;
  border-radius: 5px;
  cursor: pointer;
}

Container {
  height: 100%;
}

.first-td {
  height: 100%;
  width: 20%;
  vertical-align: top;
}

.second-td {
  height: 100%;
  width: 40%;
}

.third-td {
  height: 100%;
  width: 40%;
}

iframe {
  height: 100%;
  width: 100%;
}

button:hover,
button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
}

button:focus {
  outline: none;
}

.bg-ecu {
  
  background-color: #343a40!important;
  color: #ffffff;
  padding-right: 0;
}

.bg-ecu .navbar-brand,
.navbar-light .navbar-brand,
.navbar-custom .nav-item .nav-link {
  color: #ffffff;
}



.navbar-dark .navbar-nav .nav-link{
  color: rgba(255,255,255,.8);
}


.nav-link{
  font-size: 1rem;
  color: #bebcbc;
}

.navbar {
  width:auto!important;
}
body {
  background-color: #fffff8;
}

.QuestionBody {
  background-color: #fffff8;
}

.navbar-light .navbar-brand {
  color: rgba(223, 30, 30, 0.9);
}

svg {
  height: 100%;
}

#graph-id-graph-wrapper {
  height: 100%;
}

.card#loginCard {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 10px;
}

.card#displayCard {
  height: 100%;
}

div#displayDiv {
  height: 100%;
}

section#displaySection {
  height: 100%;
}

table#topicsOverview {
  table-layout: fixed;
  width: 100%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.circle-tooltip {
  width: 30px;
  height: 30px;
  margin-left: 6px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
}

.required.form-group .form-label:after,
.required.form-file .form-file-label:after {
  content: "*";
  color: red;
}

.form-label,
.form-file-label {
  font-family: "Arvo", serif;
  font-weight: bold;
}

.asterix-caption:before {
  content: "*";
  color: red;
}

.courses-browser {
  font-size: 2vw;
}

.content-table {
  font-size: 0.5vw;
}
div.table-of-content {
  cursor: pointer;
  color: #ffffff;
}

.wrappedContainer {
  padding-right: 0;
  height: 100%;
}

.App {
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua,
    Georgia, serif;
}

.topicNav {
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua,
    Georgia, serif;
  font-size: 1vw;
}

.instructions-upload {
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua,
    Georgia, serif;
  font-size: 1vw;
  overflow-y: auto;
}

.AnswersGroup {
  text-align: left;
}
.AnswersGroup-odd {
  text-align: left;
  background-color: #fffff8;
  border-style: none;
}

.AnswersGroup-even {
  text-align: left;
  background-color: rgb(231, 229, 226);
  border-style: none;
}

.next-question-button {
  text-align: right;
}

.QuestionMain {
  font-size: 1.4rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.question-body {
  font-size: 1.25rem;
}

.card-question {
  border-radius: 0.5rem;
  /* box-shadow: 10px 5px 5px gray; */
  margin-top: 1rem;
}

.card-question-text {
  border-radius: 0.5rem;
  /* box-shadow: 10px 5px 10px gray; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #fffff8;
}

.card-question-answers {
  border-radius: 0.5rem;
  /* box-shadow: 10px 5px 10px gray; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #fffff8;
  width: 100%;
}

.question-title {
  text-align: center;
}

.submit-button-placeholder {
  align-content: flex-start;
}

.quiz-button {
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
}

input[name="answers"] {
  position: relative;
}

.btn-group-toggle>.btn input[type=checkbox], .btn-group-toggle>.btn input[type=radio], .btn-group-toggle>.btn-group>.btn input[type=checkbox], .btn-group-toggle>.btn-group>.btn input[type=radio]{
  position: relative;
  margin: 0 1rem;
}

/*background for confirmation pop-up*/
.confirm-bg {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
  opacity: 0.55;
  overflow: hidden; /* disable scrolling*/
  z-index: 2; /* higher than all other items, but lower than 
    the confirm box*/
}

.alert-container {
  display: none;
  flex-direction: column;
  position: fixed;
  background-color: #f37736;
  width: 230px;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -75%);
  border-radius: 0.3rem;
  padding: 1rem;
  z-index: 5; /* Higher than the z-index of the background */
}

.confirmation-text {
  display: flex;
  color: white;
  margin: 0.5rem 0 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1.1rem;
}

.alert-button-container {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
}

.confirmation-button, delete-button {
  display: inline-flex;
  background-color: #cc0000;
  color: white;
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
}

.cancel-button {
  background-color: #999999;
}

.confirmation-button:hover {
  background-color: red;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #b2b2b2;
  cursor: pointer;
}

.side-menu-card{
  background-color: #343a40!important;
  border-style: none;
}

.side-menu-label,  .side-menu-button {
  color: #ffffff;
  background-color: #343a40;
}

.side-menu-button.list-group-item-action:hover {
  color: #ffffff;
  background-color: #343a40;
}

.side-menu-form-control {
  color: #ffffff;
  background-color: #343a40;
}

.form-check-input {
  background-color: #343a40;
}